<!DOCTYPE html>
<html>
  <head>
    <title>Rhonda</title>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


  </head>

  <body>
      <div>
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </div>
      <div>

        <%= yield %>
        <div class="chat">
              <div class="chat-history">
                <ul class="chat-ul">
                  <li> <h2>Welcome to your personal assistant Rhonda</h2></li>
                  <li>

                    <%= react_component "BotPage" %>

                  </li>
                  <li class="clearfix">

                </ul>
          </div>
        </div>
      </div>
  </body>
</html>
