<!DOCTYPE html>
<html>
  <head>
    <title>Rhonda</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div>
      <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
          <div class="container topnav">
              <div class="navbar-header">
                  <a class="navbar-brand topnav">Rhonda Bot</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <% if current_user %>
                  <li><a href=""><%= current_user.name %></a></li>
                      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
                  <% else %>
                      <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
                  <% end %>
                  </ul>
              </div>
          </div>
      </nav>
    </div>

    <div>
      <%= yield %>
    </div>
    
  </body>
</html>
